/*
 * Template Name
 * Description
 * Vertion
 * Copyright
 * Author: Karen HaoYi Tu
 * Last Modified Date:
 *
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Catalog
 * Font Import
 * Layout

**/

/*-------------------------*/
/* $Font Import
---------------------------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Asap|Monoton|Noto+Sans+TC|Noto+Serif+TC');

/*-------------------------*/
/* $Layout
---------------------------*/
/* Global*/
*{
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    color: #aeb9ba;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Asap','Noto Sans TC','Roboto', sans-serif;
}
button{
    border:1px solid #aeb9ba;
    border-radius: 2rem;
    color: #aeb9ba;
    padding:0.4rem 1rem;
}
button:focus {outline:0;}
textarea {
    width: 100%;
    height: 150px;
    font-size: 1rem;
    box-sizing: border-box;
    border: 2px solid #E8E8E8;
    border-radius: 3px;
    resize: none;
    margin-bottom:1rem;
    padding:0.5rem;
  }
textarea:focus {outline:0;}
input{
    border-radius: 3px;
    border:1px solid #E8E8E8;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    color:#696969;
}
input:focus{
    outline:0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #E8E8E8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #E8E8E8;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #E8E8E8;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #E8E8E8;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #E8E8E8;
}

::placeholder { /* Most modern browsers support this now. */
   color: #E8E8E8;
}
/* Grid */
.container {
  /* border: 1px solid blue; */
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .u-clearfix:before,
  .u-clearfic:after,
  .container:before,
  .container:after,
  .container-fluid:before,
  .container-fluid:after,
  .row:before,
  .row:after,
  .u-col-row:before,
  .u-col-row:after,
  .shoppingcart-block:before,
  .shoppingcart-block:after,
  .item-row:before,
  .item-row:after{
      content: " ";
      display: table;
  }
  .u-clearfix:after,
  .container:after,
  .container-fluid:after,
  .row:after,
  .u-col-row:after,
  .sshoppingcart-block:after,
  .item-row:after{
      clear: both;
  }
  /*-------------------------*/
  /* $Base
  ---------------------------*/
  /* Color */
  /* background color*/
  .bg-color-default{background-color: #313538;}
  .bg-color-light-grey{background-color: #828282;}
  .bg-color-light-blue{background-color: #E0EEFE;}
  .bg-color-blue{background-color: #CFDDED;}
  .bg-color-deep-blue{background-color: #8B99A9;}
  .bg-color-white{background-color: #ffffff;}
  
  /* text color */
  .color-default{color:#313538;}
  /* Utility */
  /* text */
  .u-text-center{text-align: center !important;}
  .u-text-right{text-align: right !important;}
  /* float*/
  .u-pull-left{float:left !important;}
  .u-push-right{float:right !important;}
  html,body{
    color: #a5a5a5;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: "Asap","Roboto","Noto Sans TC", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/* link */
a{
    color: #aeb9ba;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #D5B172;
    text-decoration: none;
}
/*-------------------------*/
/* $Utility
---------------------------*/
.u-border{
    border:1px solid #F9E2B8;
}
/*-------------------------*/
/* $NavBar
---------------------------*/
.navwrapper{
   position: relative;
}
.brandname{
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 2rem;
    color:#D5B172;
}
.signinwrapper{
    display: flex;
    float: right;
    line-height: 2rem;
    font-size: 0.8rem;
    font-weight: 900;    
}
.signinwrapper a{
    padding:0 1rem;
    margin-left: 1rem;
}
.link-button{
    border-radius: 5px;
}
.link-button:hover{
    background-color: #ebebeb;
    color:white;
}
/*-------------------------*/
/* $SignIn
---------------------------*/
.signinform{
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
}
.input-row{
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
}
.label-font{
    font-size: 0.8rem;
}
.sub-instruciton-title{
    text-align: center;
    padding: 1rem 0;
    color:#696969;
}
.formoutter{
    text-align: center;
    justify-content: center;
    display: flex;
}
.formwrapper{
    padding:2rem 1rem;
    text-align: left;
    min-width:50%;
    border:1px solid #E8E8E8;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(235,235,235,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(235,235,235,1);
    box-shadow: 0px 1px 5px 0px rgba(235,235,235,1);
}
@media(max-width:800px){
    .formwrapper{
        width:80%;
    }
}
@media(max-width:600px){
    .formwrapper{
        width:100%;
    }
}
.feature-row{
    text-align: center;
}

.medium-button{
    /* background-color: #EDAA15; */
    background-color: #FF8300;
    color:white;
    border:0;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 300;
    padding:0.6rem 6rem;
    line-height: 1.5rem;
}
.medium-button:hover,
.medium-button:active{
    background-color: #FFBC00;
    transition: 1s;
    transform: scale(1.01);
    /* background-image: linear-gradient(to right top, #fae3b9, #f8d094, #f6bb71, #f6a550, #f68d31, #f78c29, #f88c1f, #f98b13, #fba428, #fcbb3f, #fdd158, #ffe673); */
}
.medium-square-button{
    background-color: #D3A971;
    color:white;
    border:0;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 300;
    padding:0.6rem 6rem;
    line-height: 1.5rem;
    border-radius: 5px;
}
.medium-square-button:hover,
.medium-square-button:active{
    background-color: #C49A66;
    transition: 1s;
    transform: scale(1.01);    
}
.button-row{
    text-align: center;
}
.google-button{
    border-radius: 5px;
    background-color: #0F9D58;
    color:white;
    border:0;
    cursor:pointer;
    padding:0.8rem 0.5rem;
    width:100%;
    font-size: 0.8rem;
    display: flex;
}
.google-button:hover,
.google-button:active{
    background-color: #11C968;
    transition: 1s;
    transform: scale(1.01);
}

.login-icon{
    font-weight: 900;
    padding:0 0.5rem;
}
.login-text{
    align-self: center;
    justify-content: center;
    flex:2;
}

.button-row .google-button{
    margin-bottom: 1rem;
}
.feature-row .medium-button{
    margin-top:2rem;
}
.text-row.error-holder{
    margin-top:1rem
}
.input-row > input{
    width: 100%;
}
.hr-box{
    color:#ebebeb;
}
.hr-placer{
    width: 2.5rem;
    display: inline-block;
    height: 1rem;
    font-size: 0.8rem;
    line-height: 1rem;
}
.hr{
    font-size: 0.8rem;
    line-height: 1rem;
    display: inline-block;
    padding: 0 0.5rem;
}
/*-------------------------*/
/* $SignUp
---------------------------*/
.error-holder{
    height: 0.8rem;
}
.alert-font{
    color:#db576d;
    background-color: #fcc4ce;
    font-size: 0.8rem;
    text-align: center;  
}
/*-------------------------*/
/* $CreatTask
---------------------------*/

.task-input-row input{
    border: 2px solid #E8E8E8; 
    width:100%;
}

/*-------------------------*/
/* $Dashboard
---------------------------*/
.dashboard-wapper{
    /* background-color: #f9f9f9; */
    padding: 2rem 0;
}
.title{
    font-weight: 1200;
    letter-spacing: 1.5px;
    
}
.task-card{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(240,240,240,0.84);
    -moz-box-shadow: 1px 1px 5px 2px rgba(240,240,240,0.84);
    box-shadow: 1px 1px 5px 2px rgba(240,240,240,0.84);
    border-radius: 2px ;
}
.expirydate{
    font-size: 0.8rem;
}
.expirydate-title{
    font-size: 0.6rem;
    line-height: 0.6rem;
    padding: 0 1rem 0 0;
}