/*
 * Template Name
 * Description
 * Vertion
 * Copyright
 * Author: Karen HaoYi Tu
 * Last Modified Date:
 *
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Catalog
 * Font Import
 * Layout

**/

/*-------------------------*/
/* $Font Import
---------------------------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Asap|Monoton|Noto+Sans+TC|Noto+Serif+TC');

/*-------------------------*/
/* $Layout
---------------------------*/
/* Global*/
*{
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    color: #aeb9ba;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Asap','Noto Sans TC','Roboto', sans-serif;
}
button{
    border:1px solid #aeb9ba;
    border-radius: 2rem;
    color: #aeb9ba;
    padding:0.4rem 1rem;
}
button:focus {outline:0;}
textarea {
    width: 100%;
    height: 150px;
    font-size: 1rem;
    box-sizing: border-box;
    border: 2px solid #E8E8E8;
    border-radius: 3px;
    resize: none;
    margin-bottom:1rem;
    padding:0.5rem;
  }
textarea:focus {outline:0;}
input{
    border-radius: 3px;
    border:1px solid #E8E8E8;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    color:#696969;
}
input:focus{
    outline:0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #E8E8E8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #E8E8E8;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #E8E8E8;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #E8E8E8;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #E8E8E8;
}

::placeholder { /* Most modern browsers support this now. */
   color: #E8E8E8;
}
/* Grid */
.container {
  /* border: 1px solid blue; */
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .u-clearfix:before,
  .u-clearfic:after,
  .container:before,
  .container:after,
  .container-fluid:before,
  .container-fluid:after,
  .row:before,
  .row:after,
  .u-col-row:before,
  .u-col-row:after,
  .shoppingcart-block:before,
  .shoppingcart-block:after,
  .item-row:before,
  .item-row:after{
      content: " ";
      display: table;
  }
  .u-clearfix:after,
  .container:after,
  .container-fluid:after,
  .row:after,
  .u-col-row:after,
  .sshoppingcart-block:after,
  .item-row:after{
      clear: both;
  }
  /*-------------------------*/
  /* $Base
  ---------------------------*/
  /* Color */
  /* background color*/
  .bg-color-default{background-color: #313538;}
  .bg-color-light-grey{background-color: #828282;}
  .bg-color-light-blue{background-color: #E0EEFE;}
  .bg-color-blue{background-color: #CFDDED;}
  .bg-color-deep-blue{background-color: #8B99A9;}
  .bg-color-white{background-color: #ffffff;}
  
  /* text color */
  .color-default{color:#313538;}
  /* Utility */
  /* text */
  .u-text-center{text-align: center !important;}
  .u-text-right{text-align: right !important;}
  /* float*/
  .u-pull-left{float:left !important;}
  .u-push-right{float:right !important;}
  html,body{
    color: #a5a5a5;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: "Asap","Roboto","Noto Sans TC", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/* link */
a{
    color: #aeb9ba;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #D5B172;
    text-decoration: none;
}
/*-------------------------*/
/* $Utility
---------------------------*/
.u-border{
    border:1px solid #F9E2B8;
}
/*-------------------------*/
/* $NavBar
---------------------------*/
.navwrapper{
   position: relative;
   padding:0.2rem 0;
}
.brandname{
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 2rem;
    color:#D5B172;
}
.signinwrapper{
    display: flex;
    float: right;
    line-height: 2rem;
    font-size: 0.8rem;
    font-weight: 900;    
}
.signinwrapper a{
    padding:0 1rem;
    margin-left: 1rem;
}
.link-button{
    border-radius: 5px;
}
.link-button:hover{
    background-color: #ebebeb;
    color:white;
}
/*-------------------------*/
/* $PopUp
---------------------------*/
.popup-layer{
    position: absolute;
    z-index: 1000;
    background-color: rgba(76, 76, 76, 0.8) ;
    height: 95vh;
    width:100%;
    color:rgb(203, 203 , 203);
}
.popup-layer >.container {
   justify-content: center;
   display: flex;
}
.information-window{
    border-radius: 5px;
    padding:2rem;
    margin-top:15%;
    width:40%;
    background-color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.alert-icon{
    font-size: 6rem;
    text-align: center;
    color:#FF8300;
    margin:1rem 0;
}
.browncolor-icon{
    color:#D3A971;
}
.information-window h2{
    color:#7F7F7F;
    margin:0.5rem 0;
}
.information-window h4{
    margin:0.5rem 0;
}
.information-window > div > hr {
    height: 2px;
    color: #e4e4e4;
    background-color: #e4e4e4;
    border: none;
    margin:1rem 0;
}
.information-window button{
    margin-top:0.5rem;
}
@media(max-width:800px){
    .information-window{
        width:60%;
    }
}
@media(max-width:600px){
    .information-window{
        width:80%;
    }
}
/*-------------------------*/
/* $SignIn
---------------------------*/
.signinform{
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
}
.input-row{
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
}
.label-font{
    font-size: 0.8rem;
}
.sub-instruciton-title{
    text-align: center;
    padding: 1rem 0;
    color:#696969;
}
.formoutter{
    text-align: center;
    justify-content: center;
    display: flex;
}
.formwrapper{
    padding:2rem 1rem;
    text-align: left;
    min-width:50%;
    border:1px solid #E8E8E8;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(235,235,235,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(235,235,235,1);
    box-shadow: 0px 1px 5px 0px rgba(235,235,235,1);
}
.formwrapper-bottom{
    padding:0 1rem 2rem 1rem;
    text-align: left;
    min-width:50%;
    border: 0.5px solid #E8E8E8;
    border-top: 0px;
    border-radius:0 0 3px 3px;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(235,235,235,1);
    -moz-box-shadow: 0px 4px 5px -2px rgba(235,235,235,1);
    box-shadow: 0px 4px 5px -2px rgba(235,235,235,1);
}
.formwrapper-top{
    padding:0 1rem 0.5rem 1rem;
    text-align: left;
    min-width:50%;
    border: 0.5px solid #E8E8E8;
    border-bottom: 0px;
    border-radius:3px 3px 0 3px;
    -webkit-box-shadow: 0px -3px 5px -4px rgba(235,235,235,1);
    -moz-box-shadow: 0px -3px 5px -4px rgba(235,235,235,1);
    box-shadow: 0px -3px 5px -4px rgba(235,235,235,1);
}
.medium-button{
    /* background-color: #EDAA15; */
    background-color: #FF8300;
    color:white;
    border:0;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 300;
    padding:0.6rem 6rem;
    line-height: 1.5rem;
   
}
.medium-button:hover,
.medium-button:active{
    background-color: #FFBC00;
    transition: 1s;
    transform: scale(1.01);
    /* background-image: linear-gradient(to right top, #fae3b9, #f8d094, #f6bb71, #f6a550, #f68d31, #f78c29, #f88c1f, #f98b13, #fba428, #fcbb3f, #fdd158, #ffe673); */
}
@media(max-width:800px){
    .formwrapper{
        width:80%;
    }
    .formwrapper-bottom,
    .formwrapper-top{
        width:60%;
    }
}
@media(max-width:600px){
    .formwrapper{
        width:100%;
    }
    .formwrapper-bottom,
    .formwrapper-top{
        width:80%;
    }
}
.feature-row{
    text-align: center;
}


.small-square-button{
    background-color: #D3A971;
    color:white;
    border:0;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    padding:0.3rem 2.3rem;
    line-height: 1.5rem;
    border-radius: 5px;
    margin:0 0.8rem;
}
.small-square-button:hover,
.small-square-button:active{
    background-color: #C49A66;
    transition: 1s;
    transform: scale(1.01);  
}
.medium-square-button{
    background-color: #D3A971;
    color:white;
    border:0;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 300;
    padding:0.6rem 6rem;
    line-height: 1.5rem;
    border-radius: 5px;
    margin:0 1rem;
}
.medium-square-button:hover,
.medium-square-button:active{
    background-color: #C49A66;
    transition: 1s;
    transform: scale(1.01);    
}
.cancel-button{
    background-color: #E8E8E8;
    color: #cfcfcf;
    border:1.5px solid #E0E0E0;
}
.cancel-button:hover{
    background-color: #cfcfcf;
    color:white;
}
.button-row{
    text-align: center;
}
.google-button{
    border-radius: 5px;
    background-color: #DB4437;
    color:white;
    border:0;
    cursor:pointer;
    padding:0.8rem 0.5rem;
    width:100%;
    font-size: 0.8rem;
    display: flex;
}
.google-button:hover,
.google-button:active{
    background-color: #ff5a4c;
    transition: 1s;
    transform: scale(1.01);
}

.login-icon{
    font-weight: 900;
    padding:0 0.5rem;
}
.login-text{
    align-self: center;
    justify-content: center;
    flex:2;
}

.button-row .google-button{
    margin-bottom: 1rem;
}
.feature-row .medium-button{
    margin-top:2rem;
}
.text-row.error-holder{
    margin-top:1rem
}
.input-row > input{
    width: 100%;
}
.hr-box{
    color:#ebebeb;
}
.hr-placer{
    width: 2.5rem;
    display: inline-block;
    height: 1rem;
    font-size: 0.8rem;
    line-height: 1rem;
}
.hr{
    font-size: 0.8rem;
    line-height: 1rem;
    display: inline-block;
    padding: 0 0.5rem;
}
/*-------------------------*/
/* $SignGroup
---------------------------*/
.link-wrapper{
    width:100%;
    position: relative;
    /* border:1px solid black; */
    display: flex;
}
.signgroup-tab{
    width: 50%;
    text-align: center;  
    padding:1rem 0  1rem 0; 
    /* border:1px solid black; */
}
a.signgroup-tab:hover{
   /* background-color:#ebebeb; */
   border-radius: 5px;
   color: #FF8300;
   transition: 0.5s;
}
a.signgroup-tab:active,
a.signgroup-tab:focus{
    color: #FFBC00;
}
.signgroup-tab-active{
    color: #FFBC00;
    /* transform: scale(1.01); */
}
/*-------------------------*/
/* $SignUp
---------------------------*/
.error-holder{
    height: 0.8rem;
}
.alert-font{
    color:#db576d;
    background-color: #fcc4ce;
    font-size: 0.8rem;
    text-align: center;  
}
/*-------------------------*/
/* $CreatTask
---------------------------*/

.task-input-row input{
    border: 2px solid #E8E8E8; 
    width:100%;
}
.task-input-row select {
    width:100%;
    height:3rem;
    font-size: 1rem;
    outline: 0;
    border: 2px solid #E8E8E8;
    border-radius: 3px; 
    padding: 0.5rem;    
}
.checkbox-wrapper{
    display: flex;
}
.task-checkboxinput-row{
    position: relative;
    height:1.6rem;
    line-height: 1.6rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:2.2rem;
}
.task-checkboxinput-row input[type="checkbox"] {
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  z-index: 50;
  width: 1.6rem; /*Desired width*/
  height: 1.6rem;
  margin:0;

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    background-color: #E8E8E8;
}
.task-checkboxinput-row:hover input ~ .checkmark {
    background-color: #ccc;
}
.task-checkboxinput-row input:checked ~ .checkmark {
    background-color:#D3A971;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.task-checkboxinput-row input:checked ~ .checkmark:after {
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.task-input-row select option {
    width:100%;
   
} 
.task-input-row #inputdate{
    border: 2px solid #E8E8E8; 
    width:100%;
}
#inputdate{
    width:100%;
    border-radius: 3px;
    border:1px solid #E8E8E8;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    color:#696969;
    outline: none;
}
.pickers,
#inputdate:focus,
#inputdate:active,
#inputdate:hover,
#inputdate:target,
#inputdate::visited{
    outline: none!important;
}
.input-date{
    width:100%;
    border-radius: 3px;
    border:1px solid #E8E8E8;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    color:#696969;
}

/*-------------------------*/
/* $Dashboard
---------------------------*/

.landing-wrapper{
    height:90vh;
    overflow-y:hidden;
    position: relative;
} 
.welcome-wrapper{
    height:70%;
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-wrapper >.container{
    /* color: #D4B074; */
    height: 100%;
    border-radius: 3px;
    display:flex;
}
.col-2-1{
    width:50%;
    cursor: default;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    line-height: 2.5rem;
}
.brand{
    color: #F8C633;
    cursor: grabbing;
    transition: 0.5s;
}
/* .brand:hover{
    color: #ffd866;
} */
.brand:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1s infinite ease-in-out;
}
  
@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}
.logo-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2.5rem;
}
@media(max-width:700px){
    .col-2-1{
      width:100%;
      height:40%;
    }
    /* .campaign-block-title{
        font-size: 1.6rem;
    } */
    .welcome-wrapper{
        text-align: center;

    }
    .welcome-wrapper >.container{
        display: inline-block;
    }
    .campaign-block{
        text-align: left;
    }

}
.logo-holder{
    cursor: grabbing;
    width:150px;
    height:150px;
    border-radius: 25px;
    align-self: center;
    text-align: center;
    background-color: #F8C633;
    color:white;
    opacity: 0; 
    animation: fadeInUp 1s ease-in-out 0s forwards;
    animation-delay: .3s;
    transition: .5s;
}
.logo-holder:hover{
    background-color: #ffbf00;
}
.logo-holder > h2{
    line-height: 150px;
    transition: .5s;
    transform: scale(1.3);
}
.logo-holder > h2:hover{
    transform: scale(2.3);
}
@keyframes fadeInUp {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 25%, 0);
      transform: translate3d(0, 25%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
.dashboard-wrapper{
    background-color: #f9f9f9;
    padding: 5px 0;
    height: 100%;

}
.title{
    font-weight: 1200;
    letter-spacing: 1.5px;
}
.task-card{
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(240,240,240,0.84);
    -moz-box-shadow: 1px 1px 5px 2px rgba(240,240,240,0.84);
    box-shadow: 1px 1px 5px 2px rgba(240,240,240,0.84);
}

.empty-card{
    background-color: #f2f2f2;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    height:8rem;
}
.u-invisible{
    opacity: 0;
}
bg-color-dashboard{
    background-color: black;
}
.expirydate{
    font-size: 0.8rem;
}
.expirydate-title{
    font-size: 0.6rem;
    line-height: 0.6rem;
    padding: 0 1rem 0 0;
}
.indicator-wrapper{
  padding:0 15px;
}

.icon-bar{
    display: flex;
    flex-direction: row;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}
.setting-bar{
    display: flex;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}
.setting-button{
    padding: 0.1rem 0.3rem;
    font-size: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0.2rem;
}
.indicator-button {
    padding: 0.2rem 0.3rem;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer
}
.setting-button:hover,
.indicator-button:hover{
    background-color: #ebebeb;
    color:#868e8e;
}
.member-bar{
    display: flex;
    flex-direction: row;
    padding:0.3rem 0;
}
.member-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 0.3rem;
}
.member-cirle{
    width:1.4rem;
    height:1.4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.4rem;
    font-size: 0.8rem;
    flex-direction: row-reverse;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    
}

.circle-wrapper{
    padding-bottom: 100%;
    overflow: hidden;
    border-radius:50%;
}
.circle-wrapper img{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    max-width:100%;
    margin:auto;
    overflow: hidden;
}
.circle-wrapper > .member-img-holder{
    color:white;
    border-radius: 50%;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    max-width:100%;
    margin:auto;
    overflow: hidden;
    background-color: #A5A5A5;
}
.circle-name{
    font-size: 0.5rem;
    padding: 0;
    line-height: 0.8rem;
    text-align: center;
}
/*-------------------------*/
/* $Barchart
---------------------------*/
.barchart-box{
    position:relative;
    overflow:hidden;
    width:100%;
   

}
.barchart-inner{
    padding-top: 20%;
    content:"";
    display: block;
}
#chart{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    max-width:100%;
    margin:auto;
    /* border:2px solid plum; */
    border-radius: 5px;
    background-color: #f2f2f2;
    margin:0 15px;
    padding-top:1%;
}
/*-------------------------*/
/* $TaskList
---------------------------*/
.title-row{
    display: flex;
    padding: 0.3rem 0;
}
.row-title{
    font-size: 1.2rem;
    line-height: 2rem;
}
.row-icon{
    position: absolute;
    right:15px;
    display: flex;
    font-size: 0.8rem;
    line-height: 2rem;
}
.row-icon > p {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    line-height: 2rem;
}
.icon-row-button{
    padding: 0.15rem 0.8rem;
    border-radius: 5px;
}
.icon-row-button:hover{
    background-color: #ebebeb;
    color:#868e8e;
}
/*-------------------------*/
/* $GroupSelected
---------------------------*/
.group-form{
    width:100%;
    text-align: center;
}
.group-select{
    border:0;
    width: 50%;
    height:2rem;
    text-align: center;
    color: #C49A66;
}
.group-select > option{
    border:1px solid blue;
}
.group-select:focus {
    outline:0;
}
.selected-wrapper{
    text-align: center;
    display: flex;
    justify-content: center;
}
.selected-group{
    text-align: center;
    width:400px;
    height:2rem;
    line-height: 2rem;
    border-radius: 5px;
    cursor:pointer;
}
.selected-group:hover{
    background-color: rgba(203,203,203, .2);
}
.popup{
    position: absolute;
    z-index: 1000;
    background-color: rgba(249,249,249,.9) ;
    height: 95vh;
    width:100%;
    color:rgb(203, 203 , 203);

}
.popup > .container{
    border-bottom: 0px;
    height: 96%;
    top:4%;
    border-radius: 10px 10px 0 0;
    background-color: white;
    animation: springUp .5s ease-out;
    transition: .5s;
}
@keyframes springUp {
    from{
        transform: translateY(40%)
    }
    to{
        transform: translateY(0%)
    }
}
.option-block{
    margin-top:5rem;
    padding: 1rem 0;
    background-color: #f8f8f8;
    border-radius: 5px;
}
.close-popup-row{
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 1.8rem;
}
.option-row{
    display: flex;
    border-radius: 6px;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    transition:.3s;
    margin:1rem 0;
}
.option-row:hover{
    background-color: #D2B074;
    color:white;
    cursor: pointer;
}
.option-icon{
    padding-left: 6%;
    font-size: 1.4rem;
}
.option-text{
    position: absolute;
    right:6%;
}
.u-bottom{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}
/*-------------------------*/
/* $TaskMemo
---------------------------*/
.image-row{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-box {
    width:30%;
    overflow:hidden;
    position:relative;
}
.image-box-inner{
    padding-bottom: 100%;
    /* border:1px solid lightgrey; */
}
.image-box-inner > img{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    max-width:100%;
    max-height:100%;
    margin:auto;
}
.uploadwrapper input[type=file] {
    font-size: 0.8rem;
}
.uploadwrapper input[type=file]::-webkit-file-upload-button{
    font-size: 0.8rem;
}
/*-------------------------*/
/* $Bouncing Loader
---------------------------*/
@keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  .bouncing-loader {
    display: flex;
    justify-content: center;
  }
  .bouncing-loader > div {
    width: 0.8rem;
    height: 0.8rem;
    margin: 3rem 0.2rem;
    background: #F8C633;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }
  